body 
{
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content 
{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea 
{
    max-width: 280px;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}

.DivStyle {
    background: #e6f2ff;
    border: outset;
    bottom : 0px;
    margin-bottom: 4px;
}

.TaoControl {
    height: 25px;
    padding: 0px;
    margin: 0px;
}

.TaoControl label {
    font-weight: normal;
}

.TextIndent
{
    text-indent: 40px;
}

.TaoDataTable tbody tr td {
    padding: 1px;
    padding-left: 4px;
    margin: 0px;
    align-content:center;
    padding-bottom: 1px;
}

.TaoDataTable thead tr {
   
}

.TaoDataTable {
    margin-bottom: 1px;
    font-weight: normal;
}

.btn {
    background-color: #e6f2ff;
    border-style:outset;
    border-radius: 20px 10px;
}

.field-validation-error
{
    color: red;
}

.dropdown-item
{
    color: white;
    line-height: 30px;
}

.saveAll
{
    top: 40px;
}