@using TaoWebApplication.Extensions
@using TaoWebApplication.Models
@model AdozottEredmenyModel

@{
    ViewBag.Title = "Adozott Eredmeny";
}

@using (Html.BeginForm("AdozottEredmeny", "Tao", FormMethod.Post))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 DivStyle">
                <table class="TaoDataTable table">
                    <thead>
                        <tr>
                            <th class="col-md-5">Megnevezés</th>
                            <th class="col-md-2" style="text-align:center">Érték</th>
                        </tr>
                    </thead>

                    @for (int i = 0; i < Model.Fields.Count; i++)
                    {
                        if (Model.Fields[i].SectionGroup != 1)
                        {
                            continue;
                        }
                        @Html.HiddenFor(m => Model.Fields[i].Id);

                        var color = Model.Fields[i].Id == 2207 || Model.Fields[i].Id == 1416 ?  "Cyan" : "";
                        <tr style="background-color: @color">
                            <td>
                                @Model.Fields[i].Title
                            </td>
                            <td>                              
                                @Html.CreateActualControl((IFieldList)Model, i)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 DivStyle" style="display:flex; justify-content: center;">
                <button type="submit" value="Previous" name="buttonAction" class="btn btn-default">Mentés és előző </button>
                <button type="submit" value="Save" name="buttonAction" class="btn btn-default" style="margin-left:10px;margin-right:10px;">Mentés</button>
                <button type="submit" value="Next" name="buttonAction" class="btn btn-default">Mentés és következő</button>
                <button type="submit" value="SaveAll" name="buttonAction" class="btn btn-default">Mindent újraszámol</button>
            </div>
        </div>
    </div>
}